firmware/panel/*.elf
firmware/panel/*.bin
firmware/panel/*.hex
firmware/panel/*.lst
firmware/panel/*.map
firmware/panel/generated*.ld
ch32fun/
build/
site/
firmware/panel/bootloader/*.elf
firmware/panel/bootloader/*.bin
firmware/panel/bootloader/*.hex
firmware/panel/bootloader/*.lst
firmware/panel/bootloader/*.map
